<div class="panel panel-default">
    <div class="panel-heading">KendoTable</div>
    <div class="panel-body">
        <div class="row">
            <div class="input-group col-xs-12">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control searcher" id="{{id}}_search" placeholder="Wyszukaj">

                <div class="input-group-addon">
                    <button class="glyphicon glyphicon-cog" id="{{id}}_settings"></button>
                </div>
            </div>
        </div>
        <br/>

        <div class="row">
            <div id="{{id}}_content">
            </div>
        </div>
    </div>
</div>
