{{#groups}}
    <li id="group_{{id}}" class="standard-element group-element animation-slower {{id}}"> <!-- dropdown -->
        <a href="#" class="menu-element">
            <div id="{{id}}">
                <a class="menu-text group-text dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="group-icon fa fa-folder-o" aria-hidden="true"></span>
                    <div class="menu-text-content">{{id}}</div>
                    <span class="group-arrow glyphicon glyphicon-chevron-up"></span>
                </a>
                <ul class="dropdown-menu">
                </ul>
            </div>
        </a>
    </li>
{{/groups}}
