<div class="login-container no-select">
    <div id="login-container">
    </div>
    <div id="lock-emblem" class="animation-slower beforeAnimation">
        <i class="fa fa-lock"></i>
    </div>
    <div id="verto-emblem" class="animation-slower beforeAnimation" style="position: fixed; top: 10px; right: 10px; opacity: 0.3;">
        <img src="http://www.a-moll.pl/images/streamsoft-verto.png">
    </div>
</div>