<div class="panel new-option-set-name-container">
    <div class="panel-body">
            <fieldset>
                <form method="get" class="form-horizontal ng-pristine ng-valid">
                     <div class="form-group-new-option">
                        <label class="control-label">Nazwa opcji: </label>
                        <div class="col-sm-12"><input type="text" class="form-control" id="add-option-put-name"></div>
                     </div>
                     <div class="form-group-new-option">
                        <label class="control-label">Grupa: </label>
                        <div class="col-sm-12"><input type="text" class="form-control" id="add-option-put-group"></div>
                     </div>
                </form>
            </fieldset>
            <div class="answer-container">
                <button class="btn btn-success positive-button">{{positiveButton}}</button>
                <button class="btn btn-danger negative-button">{{negativeButton}}</button>
            </div>
    </div>
</div>