<div class="panel question-container">
    <div class="panel-body {{cssClass}}">
        <div class="question">{{question}}</div>
        <div class="answer-container">
            <button class="btn btn-success positive-button">{{positiveButton}}</button>
            <button class="btn btn-danger negative-button">{{negativeButton}}</button>
        </div>
    </div>
</div>