<div class="row">
    <div class="col-lg-12 panel-center-content">

        <div class="stats-title">
             <h4>Nowy Portal...</h4>
        </div>

        <div class="add-import-buttons-container">
            <button class="btn btn-success addBtn"><i class="fa fa-plus"></i> Dodaj</button>
            <button class="btn btn-warning importBtn disabled" disabled><i class="fa fa-reply-all"></i> Importuj</button>
        </div>

    </div>
</div>







