<div class="row">
    <div id="basic-info-container" class="col-lg-12 form-panel animated-panel " ></div>
    <div id="content-elements-container" class="col-lg-12 form-panel animated-panel " ></div>
</div>