<div class="form-header-container">
        <header>
            <h3> Przykłady checkboxów</h3>
        </header>

        <!-- image and information -->
        <div class="row form-info-header">
            <div class="col-sm-8">
                <h4><small>podtytuł</small></h4>
            </div>
            <div class="col-sm-4 image-container">
                <div class="text-align-right">
                    <img class="img-circle hvr-bounce-in" src="http://api.cartsearch.net/assets/img/avatars/user.png" alt="64x64">
                </div>
            </div>
        </div>
    </div>


<!-- tab navigator -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#checkboxes-example">Checkboxy</a></li>
    </ul>

     <div class="tab-content">
        <div id="checkboxes-example" class="tab-pane fade in active">

         <form method="get" class="form-horizontal ng-pristine ng-valid">
               <div class="form-group">
                  <label class="col-sm-2 control-label">Checkboxes and radios <br> </label>
                  <div class="col-sm-10">
                     <div class="checkbox"><label> <input type="checkbox" value=""> Option one is this and that—be sure to include why it's great </label></div>
                     <div class="radio"><label> <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Option one is this and that—be sure to include why it's great </label></div>
                     <div class="radio"><label> <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> Option two can be something else and selecting it will deselect option one </label></div>
                  </div>
               </div>
               <div class="hr-line-dashed"></div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Inline checkboxes</label>
                  <div class="col-sm-10"><label class="checkbox-inline"> <input type="checkbox" value="option1" id="inlineCheckbox1"> a </label> <label class="checkbox-inline"> <input type="checkbox" value="option2" id="inlineCheckbox2"> b </label> <label class="checkbox-inline"> <input type="checkbox" value="option3" id="inlineCheckbox3"> c </label></div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Checkboxes &amp; radios <br> <small class="text-navy">Custom elements</small> </label>
                  <div class="col-sm-10">
                     <div>
                        <label class="">
                           <div class="icheckbox_square-green" style="position: relative;"><input icheck="" type="checkbox" ng-model="main.check2" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option one
                        </label>
                     </div>
                     <div>
                        <label class="">
                           <div class="icheckbox_square-green" style="position: relative;"><input icheck="" type="checkbox" ng-model="main.checkThree" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option two checked
                        </label>
                     </div>
                     <div>
                        <label>
                           <div class="icheckbox_square-green disabled" style="position: relative;"><input icheck="" type="checkbox" ng-model="main.checkTwo" disabled="" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option three checked and disabled
                        </label>
                     </div>
                     <div>
                        <label>
                           <div class="icheckbox_square-green disabled" style="position: relative;"><input icheck="" type="checkbox" ng-model="main.check4" disabled="" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option four disabled
                        </label>
                     </div>
                     <div>
                        <label>
                           <div class="iradio_square-green" style="position: relative;"><input icheck="" type="radio" name="radioTest" ng-model="main.checkFour" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option one
                        </label>
                     </div>
                     <div>
                        <label>
                           <div class="iradio_square-green checked" style="position: relative;"><input icheck="" type="radio" name="radioTest" ng-model="main.check8" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option two checked
                        </label>
                     </div>
                     <div>
                        <label>
                           <div class="iradio_square-green disabled" style="position: relative;"><input icheck="" type="radio" name="radioTestNext" ng-model="main.check8" disabled="" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option four disabled
                        </label>
                     </div>
                     <div>
                        <label>
                           <div class="iradio_square-green checked disabled" style="position: relative;"><input icheck="" type="radio" name="radioTestNext" ng-model="main.check9" disabled="" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                           Option three checked and disabled
                        </label>
                     </div>
                  </div>
               </div>
               <div class="hr-line-dashed"></div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Inline checkboxes</label>
                  <div class="col-sm-10">
                     <label class="checkbox-inline">
                        <div class="icheckbox_square-green" style="position: relative;"><input icheck="" type="checkbox" ng-model="main.unCheck" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        a
                     </label>
                     <label class="checkbox-inline">
                        <div class="icheckbox_square-green" style="position: relative;"><input icheck="" type="checkbox" ng-model="main.unCheck" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        b
                     </label>
                     <label class="checkbox-inline">
                        <div class="icheckbox_square-green" style="position: relative;"><input icheck="" type="checkbox" ng-model="main.unCheck" class="ng-pristine ng-untouched ng-valid" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        c
                     </label>
                  </div>
               </div>
               <div class="hr-line-dashed"></div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Select</label>
                  <div class="col-sm-10">
                     <select class="form-control m-b" name="account">
                        <option value="option 1 ">option 1 </option>
                        <option value="option 2 ">option 2 </option>
                        <option value="option 3 ">option 3 </option>
                        <option value="option 4 ">option 4 </option>
                     </select>
                  </div>
               </div>
               <div class="hr-line-dashed"></div>
               <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-2"> <button class="btn btn-default" type="submit"><i class="fa fa-times"></i> Cancel</button> <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Save changes</button> </div>
               </div>
         </form>

      </div>
   </div>