<div class="table-responsive" style="margin-bottom: -27px;">
<table class="table table-hover table-bordered table-striped">
    <tbody>
    <tr>
        <td>
            <span class="label label-success">Added</span>
        </td>
        <td class="issue-info">
            <a href="#">
                While not fully self-driving, the software means the Model S
            </a>
        </td>
        <td class="text-right">
            <button class="btn btn-default btn-xs"><i class="fa fa-calculator"></i> Action</button>
        </td>
    </tr>
    <tr>
        <td>
            <span class="label label-info">Added</span>
        </td>
        <td class="issue-info">
            <a href="#">
                However, Mr Musk said users adopting the software
            </a>
        </td>
        <td class="text-right">
            <button class="btn btn-default btn-xs"><i class="fa fa-hourglass-end"></i> Action</button>
        </td>
    </tr>
    <tr>
        <td>
            <span class="label label-success">Added</span>
        </td>
        <td class="issue-info">
            <a href="#">
                Other regions of the world would be updated
            </a>
        </td>
        <td class="text-right">
            <button class="btn btn-default btn-xs"><i class="fa fa-check"></i> Action</button>
        </td>
    </tr>
        <tr>
        <td>
            <span class="label label-success">Added</span>
        </td>
        <td class="issue-info">
            <a href="#">
                He added that if the car is involved in a collision
            </a>
        </td>
        <td class="text-right">
            <button class="btn btn-default btn-xs"><i class="fa fa-check"></i> Action</button>
        </td>
    </tr>
        <tr>
        <td>
            <span class="label label-success">Added</span>
        </td>
        <td class="issue-info">
            <a href="#">
                Tesla chief executive Elon Musk
            </a>
        </td>
        <td class="text-right">
            <button class="btn btn-default btn-xs"><i class="fa fa-check"></i> Action</button>
        </td>
    </tr>
            <tr>
        <td>
            <span class="label label-success">Added</span>
        </td>
        <td class="issue-info">
            <a href="#">
                Tesla chief executive Elon Musk
            </a>
        </td>
        <td class="text-right">
            <button class="btn btn-default btn-xs"><i class="fa fa-check"></i> Action</button>
        </td>
    </tr>
    </tbody>
</table>
</div>