<div class="row">
    <div class="col-md-10">
        <div></div>
        <h4>{{title}}</h4>
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default filepicker-button">
                    <i class="glyphicon glyphicon-upload"></i> {{command}}
                </button>
            </div><input class="form-control filepicker-output" placeholder="">
        </div>
        <input data-label="{{command}}" class="filepicker-bootstrap" type="file" multiple="multiple" style="position: absolute; visibility: hidden;">
    </div>
</div>