<nav class="navbar navbar-inverse" role="navigation" style="cursor:pointer;">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Inteli UI</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li>
              <a id="inteliui-start">
                <span class="glyphicon glyphicon-file" aria-hidden="true" style="padding-right: 10px;"></span>Nowa Opcja
              </a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Otwórz<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a id="inteliui-start-and-open-id">Otwórz edycje opcji</a></li>
                <li><a id="inteliui-start-and-open-file">Otwórz edycje opcji z pliku</a></li>
            </ul>
          </li>
          <li>
              <a id="save-workspace" class="after-start-function hidden">
                  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right: 10px;"></span>Zapisz
              </a>
          </li>
          <li>
              <a id="export-option" class="after-start-function hidden">
                  <span class="glyphicon glyphicon-export" aria-hidden="true" style="padding-right: 10px;"></span>Renderuj
              </a>
          </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


