<!----------------------- Inteli Ui -------------------------->
<div class="InteliUi-modal-body">
    <div id="inteliUi-container-wrapper">
        <div id="inteliUi-header animate">
            <nav class="navbar navbar animate hidden" role="navigation" style="cursor:pointer;">
              <div class="container-fluid" style="float:left;">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li>
                          <a id="inteliui-start">
                            <span class="glyphicon glyphicon-file" aria-hidden="true" style="padding-right: 10px;"></span>Nowa Opcja
                          </a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Otwórz<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="inteliui-start-and-open-id">Otwórz edycje opcji</a></li>
                            <li><a id="inteliui-start-and-open-file">Otwórz edycje opcji z pliku</a></li>
                        </ul>
                      </li>
                      <li>
                          <a id="save-workspace" class="after-start-function hidden">
                              <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right: 10px;"></span>Zapisz
                          </a>
                      </li>
                      <li>
                          <a id="export-option" class="after-start-function hidden">
                              <span class="glyphicon glyphicon-export" aria-hidden="true" style="padding-right: 10px;"></span>Renderuj
                          </a>
                      </li>
                  </ul>

                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>

        <!--<div class="input-group">-->
          <!--<span class="input-group-addon inteliUi-name-input-container" id="basic-addon1"><i class="fa fa-pencil fa-fw"></i></span>-->
          <!--<input id="inteliUi-name-input" type="text" class="form-control" placeholder="name" aria-describedby="basic-addon1">-->
        <!--</div>-->

        <div id="inteliUi-container">
            <div id="inteliUi-src"></div>
        </div>

        <button id="save-portal" class="btn btn-success hidden" style="margin-left: 47%; margin-bottom: 50px;">Save Portal</button>
    </div>
</div>