<div id='workspace'></div>

<div id="inteliUi-container-wrapper animate">
    <div id="inteliUi-header"></div>
    <div id="inteliUi-container">
        <div id="inteliUi-src"></div>
    </div>
    <button id="save-perspective" class="btn btn-success hidden" style="  margin-left: 47%;opacity:0.0001;
          margin-bottom: 50px;">Save Perspective
    </button>
</div>