<div id="samil-workspace" class="hidden">
    <div class="input-xml">
        <div class="name-input-container">
            <div class="form-group">
                <div class="row">
                    <label class="col-form-sm-10 control-label"
                           style="padding-top: 10px;padding-right: 20px;">Nazwa</label>

                    <div class="col-form-sm-40 name-input" style="padding-top: 5px;"><input type="text"
                                                                                            class="form-control"
                                                                                            value="Test panel"></div>

                    <label class="col-form-sm-10 control-label"
                           style="padding-top: 10px;padding-right: 20px;">Service</label>

                    <div class="col-form-sm-40 service-input" style="padding-top: 5px;"><input type="text"
                                                                                               class="form-control"
                                                                                               value="pl.com.stream.verto.sal.document.server.pub.item.SaleDocumentItemService">
                    </div>
                </div>
            </div>
        </div>
        <div class="input-xml-textarea">
            <textarea id="input-xml" style="width: 100%;min-height: 300px;"></textarea>
        </div>
        <div class="input-xml-buttons center-block"
             style="margin-left: auto; margin-right: auto; width: 90px; padding-top: 10px; padding-bottom: 10px; display: flex;">
            <button id="btn-convert" class="btn btn-success" style="margin-right: 10px;">Convert <i
                    class="glyphicon glyphicon-arrow-down"></i>
            </button>
            <button id="create-form-by-hand" class="btn btn-success" style="margin-right: 10px;">Create by hand <i
                    class="glyphicon glyphicon-arrow-down"></i>
            </button>
            <button id="toggle-debug-mode" class="btn btn-info">Debug mode <i class="fa fa-bug"></i>
            </button>
        </div>
        </input>
        <div class="tab-content"></div>
        <button id="btn-submit" class="btn btn-success">Submit <i class="glyphicon glyphicon-ok"></i></button>
    </div>
</div>