<div class="window-container animation-slower">
    <div class="form-header-container">
        <header>
            <h3><!--i class="fa fa-user {{icon}}"--></i> {{options.title}}</h3>
        </header>

        <!-- image and information -->
        <div class="row form-info-header">
            <div class="col-sm-8">
                <h4>
                    <small>{{options.subTitle}}</small>
                </h4>
            </div>
            <div class="col-sm-4 image-container">
                <div class="text-align-right">
                    <img class="img-circle hvr-bounce-in" src="http://api.cartsearch.net/assets/img/avatars/user.png"
                         alt="64x64">
                </div>
            </div>

            <!-- window header -->
            <div id="window-header" class="col-xs-12">
                <div class="header-area-container">

                </div>
            </div>

        </div>

    </div>

    <!-- window body -->
    <div id="window-body">
        <div class="body-area-container">

        </div>
    </div>


    <!-- window footer -->
    <div id="window-footer" class="col-xs-12">
        <div class="footer-area-container">

        </div>
    </div>
</div>
