<div class="tab-content samil-form-container">

    <!--<div id="{{name}}" class="tab-pane fade in active form-panel "> &lt;!&ndash;  &ndash;&gt;-->

    <!--<fieldset>-->
    <!--&lt;!&ndash;<legend class="section" style="padding: 10px 0 2px 10px;"><i class="fa fa-user {{icon}}"></i> {{name}} </legend>&ndash;&gt;-->
    <!--<form class="form-horizontal samil-form-root" style="padding: 10px 0 2px 10px;">-->

    <!--</form>-->
    <!--</fieldset>-->

    <!--</div>-->

    <form class="form-horizontal samil-form-root" style="padding: 20px 0 2px 10px;">

    </form>

</div>