<div class="content-elements-container">
    <!-- tab navigator -->
    <ul class="nav nav-tabs">
        <li class="active"><a id="desktop-tab-trigger" data-toggle="tab" href="#desktop-tab">Pulpit</a></li>
        <li><a id="options-tab-trigger" data-toggle="tab" href="#options-tab">Opcje</a></li>
        <li><a id="permissions-tab-trigger" data-toggle="tab" href="#permissions-tab">Uprawnienia</a></li>
    </ul>

     <div class="tab-content">
        <div id="desktop-tab" class="tab-pane fade in active">


        </div>

         <div id="options-tab" class="tab-pane fade all-elements-expand">


         </div>

        <div id="permissions-tab" class="tab-pane fade">


         </div>

     </div>
</div>